.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-angle-right {
	font-size:(1024/10)*1rem;
	width:(1024/1024)*1em;
}
.icon-burger {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-cart {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-check {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-empty {
	font-size:(45.44/10)*1rem;
	width:(45.44/45.44)*1em;
}
.icon-fb {
	font-size:(96.123/10)*1rem;
	width:(96.124/96.123)*1em;
}
.icon-heart {
	font-size:(576/10)*1rem;
	width:(576/576)*1em;
}
.icon-heart-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-heart-empty {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-home {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.icon-inst {
	font-size:(1024/10)*1rem;
	width:(1024/1024)*1em;
}
.icon-login {
	font-size:(56/10)*1rem;
	width:(56/56)*1em;
}
.icon-search {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-star {
	font-size:(672/10)*1rem;
	width:(672/672)*1em;
}
.icon-star-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-star-empty {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-telephone {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-th-large {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.icon-th-list {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-vk {
	font-size:(304.36/10)*1rem;
	width:(304.36/304.36)*1em;
}
